//Themes
$background-light:#dbdbdb;
$background-black:#242424;
$background-dark:#080024;
//Main Pallete
$background-pallete-1: #4C0033;
$background-pallete-2: #790252;
$background-pallete-3: #AF0171;
$background-pallete-4: #E80F88;
//Fonts
$hover-font-light: #ada0a0;
