.top-bar{
    background-color: $background-pallete-1;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    align-items: center;
}

.TITLE{
    text-align: center;
    padding: 15px 7px;
}

.SGL{
    text-align: left;
}

.IPN{
    text-align: right;
}

