.datosAlumno{
    background-color: $background-light;
    padding: 7px;
}
.datosAlumno_item{
    padding-top: 5px;
    font-size: 120%;
}

.datosAdeudo{
    background-color: $background-light;
    padding: 7px;
}
.datosAdeudo_item{
    padding-top: 5px;
    font-size: 120%;
}