.form_Adeudo{
    padding-left: 100px;
    opacity: 0%;
}
.captureForm_a{
    margin-top: 1.5rem;
    transition: box-shadow 1s;
    box-shadow: .01rem .01rem .3rem .05rem black;
}
.captureForm_a:hover{
    box-shadow: .01rem .01rem .5rem .1rem $background-pallete-1;
}

.datosAlumno{
    background-color: $background-light;
    padding: 7px;
}
.datosAlumno_item{
    padding-top: -5px;
    font-size: 120%;
}

.datosAdeudo{
    background-color: $background-light;
    padding: 7px;
}
.datosAdeudo_item{
    padding-top: 5px;
    font-size: 120%;
}

.panel_adeudo{
    margin: 11.4rem;
    margin-top: auto;
    margin-bottom: auto;
}