.availabletasks__panel__main {
  margin: 0;
}

.availabletasks__panel {
  //display grid para número de columnas
  min-width: 50rem !important;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  grid-template-columns: 1fr 1fr;
}

.availabletasks__panel__corner {
  margin: 0;
}

.availabletasks__panel__task {
  margin: 1rem 2rem;
  width: 30rem;
  padding: 1rem 2rem !important;
  background-color: lightgrey;
  align-items: center;
  text-align: center;

  icon {
    transform: scale(2);
  }
  transition: box-shadow 0.8s;
}

.availabletasks__panel__task {
  box-shadow: 0.01rem 0.01rem 0.5rem 0.1rem black;
}
.availabletasks__panel__task:hover {
  box-shadow: 0.1rem 0.1rem 1.3rem 0.3rem $background-pallete-1;
}

.availabletasks__panel__task__info {
  margin-top: 3rem;
}

.availabletasks__panel__task__info__title {
  margin-bottom: 2rem;
  p {
    font-size: 2rem;
    font-weight: bold;
  }
}

.availabletasks__panel__task__info__stats {
  margin-bottom: 2rem;
}

.availabletasks__panel__task__actions_btn {
  button {
    padding: 0;
  }
}

.return {
  margin-bottom: 2rem;
}
